version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: qa_training_db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: qa_training
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
